html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}
* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
  --color-primary: #242729;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--color-primary);
}

.container {
  margin: auto;
  width: 100%;
  max-width: 400px;
  padding: 10px;
}

.header {
}

header img {
  width: 100px;
}

header span {
  margin-left: 5px;
  font-weight: 700;
}

p {
  margin-top: 10px;
}

.navigation {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.navigation a {
  padding-left: 5px;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
  margin-top: -1px;
}

.navigation a:hover {
  background-color: #ff9d8c;
  color: white;
  font-weight: 700;
}

.content {
  padding-top: 20px;
}

h1 { 
  font-size: 1.5em;
}

form p {
  margin-top: 10px;
}

form label {
  display: block;
  margin-bottom: 4px;
}

form input[type="submit"] {
  margin: 2px;
  width: 100%;
  height: 40px;
  background: none;
  border: 1px solid var(--color-primary);
  font-weight: 700;
}

form input[type="submit"]:hover {
  background-color: #798dff;
  cursor: pointer;
}

.radio-toolbar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.radio-toolbar input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #ddd;
    padding: 10px 20px;
    font-family: sans-serif, Arial;
    font-size: 16px;
    border: 2px solid #444;
    border-radius: 4px;
}

.radio-toolbar label:hover {
  background-color: #798dff;
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked + label {
    background-color: #798dff;
}

