{% extends 'base.html' %}
{% block content %}
<h1>LSTM Model Settings</h1>
<p>Be careful.</p>
<p>
    <h2>Model cache status</h2>
    <ul>
        <li>Model cache: {% if model_cache %}&#10004;{% else %}&#10060;{% endif %}</li>
        <li>Model weights cache: {% if model_weights_cache %}&#10004;{% else %}&#10060;{% endif %}</li>
        <li>Model tokenizer cache: {% if tokenizer_cache %}&#10004;{% else %}&#10060;{% endif %}</li>
        <li>Model tags cache: {% if tags_cache %}&#10004;{% else %}&#10060;{% endif %}</li>
    </ul>
</p>
<br/>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="retrain" value="1" />
    <input type="submit" value="Re-train LSTM model">
</form>
{% if retrain %}
<p><strong>RETRAINING MODEL.... HAND TIGHT</strong></p>
<p><i>{{ retrain }}</i></p>
{% endif %}
{% endblock content %}
