{% extends 'base.html' %}

{% block header %}
    {% include 'header.html' with header='Classification' %}
{% endblock header %}

{% block content %}
    <div class="bg-white overflow-hidden shadow rounded-lg">
        <div class="px-4 py-5 sm:p-6">
            <label for="about" class="block text-sm font-medium leading-5 text-gray-700">
                Question
            </label>
            <form method="post">
                <div class="mt-1 rounded-md shadow-sm">
                <textarea name="text" id="text" rows="3" class="form-textarea block w-full transition duration-150 ease-in-out sm:leading-5" readonly>{% if object %}{{ object.text }}{% else %}{{ form.text.value }}{% endif %}</textarea>
                </div>
                {% csrf_token %}
                <div class="radio-toolbar my-5">
                    {% if form %}
                        {% for tag in form.tag.field.choices.queryset %}
                            <div class="inline-block my-2">
                                <input name="tag" id="tag{{ tag.id }}" type="radio" class="fixed opacity-o w-0" value="{{ tag.id }}">
                                <label for="tag{{ tag.id }}" class="font-medium text-gray-700 hover:bg-gray-400 cursor-pointer block py-2 px-3 align-middle rounded-lg bg-gray-200 mx-1">{{ tag.name }}</label>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for tag in tags %}
                            <div class="inline-block my-2">
                                <input name="tag" id="tag{{ tag.id }}" type="radio" class="fixed opacity-o w-0" value="{{ tag.id }}">
                                <label for="tag{{ tag.id }}" class="font-medium text-gray-700 hover:bg-gray-400 cursor-pointer block py-2 px-3 align-middle rounded-lg bg-gray-200 mx-1">{{ tag.name }}</label>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <span class="inline-flex rounded-md shadow-sm">
                    <button type="submit" class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition ease-in-out duration-150">
                        <svg class="-ml-1 mr-3 h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                            <path fill="evenodd" d="M7.228,11.464H1.996c-0.723,0-1.308,0.587-1.308,1.309v5.232c0,0.722,0.585,1.308,1.308,1.308h5.232
                            c0.723,0,1.308-0.586,1.308-1.308v-5.232C8.536,12.051,7.95,11.464,7.228,11.464z M7.228,17.351c0,0.361-0.293,0.654-0.654,0.654
                            H2.649c-0.361,0-0.654-0.293-0.654-0.654v-3.924c0-0.361,0.292-0.654,0.654-0.654h3.924c0.361,0,0.654,0.293,0.654,0.654V17.351z
                            M17.692,11.464H12.46c-0.723,0-1.308,0.587-1.308,1.309v5.232c0,0.722,0.585,1.308,1.308,1.308h5.232
                            c0.722,0,1.308-0.586,1.308-1.308v-5.232C19,12.051,18.414,11.464,17.692,11.464z M17.692,17.351c0,0.361-0.293,0.654-0.654,0.654
                            h-3.924c-0.361,0-0.654-0.293-0.654-0.654v-3.924c0-0.361,0.293-0.654,0.654-0.654h3.924c0.361,0,0.654,0.293,0.654,0.654V17.351z
                            M7.228,1H1.996C1.273,1,0.688,1.585,0.688,2.308V7.54c0,0.723,0.585,1.308,1.308,1.308h5.232c0.723,0,1.308-0.585,1.308-1.308
                            V2.308C8.536,1.585,7.95,1,7.228,1z M7.228,6.886c0,0.361-0.293,0.654-0.654,0.654H2.649c-0.361,0-0.654-0.292-0.654-0.654V2.962
                            c0-0.361,0.292-0.654,0.654-0.654h3.924c0.361,0,0.654,0.292,0.654,0.654V6.886z M17.692,1H12.46c-0.723,0-1.308,0.585-1.308,1.308
                            V7.54c0,0.723,0.585,1.308,1.308,1.308h5.232C18.414,8.848,19,8.263,19,7.54V2.308C19,1.585,18.414,1,17.692,1z M17.692,6.886
                            c0,0.361-0.293,0.654-0.654,0.654h-3.924c-0.361,0-0.654-0.292-0.654-0.654V2.962c0-0.361,0.293-0.654,0.654-0.654h3.924
                            c0.361,0,0.654,0.292,0.654,0.654V6.886z"></path>
                        </svg>
                        Classify
                    </button>
                </span>
                <span class="inline-flex rounded-md shadow-sm ml-2">
                    <a href="/questions/classification/" class="inline-flex items-center px-4 py-2 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-700 bg-indigo-100 hover:bg-indigo-50 focus:outline-none focus:border-indigo-300 focus:shadow-outline-indigo active:bg-indigo-200 transition ease-in-out duration-150">
                        <svg class="-ml-1 mr-3 h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                            <path fill="evenodd" d="M19.305,9.61c-0.235-0.235-0.615-0.235-0.85,0l-1.339,1.339c0.045-0.311,0.073-0.626,0.073-0.949
                            c0-3.812-3.09-6.901-6.901-6.901c-2.213,0-4.177,1.045-5.44,2.664l0.897,0.719c1.053-1.356,2.693-2.232,4.543-2.232
                            c3.176,0,5.751,2.574,5.751,5.751c0,0.342-0.037,0.675-0.095,1l-1.746-1.39c-0.234-0.235-0.614-0.235-0.849,0
                            c-0.235,0.235-0.235,0.615,0,0.85l2.823,2.25c0.122,0.121,0.282,0.177,0.441,0.172c0.159,0.005,0.32-0.051,0.44-0.172l2.25-2.25
                            C19.539,10.225,19.539,9.845,19.305,9.61z M10.288,15.752c-3.177,0-5.751-2.575-5.751-5.752c0-0.276,0.025-0.547,0.062-0.813
                            l1.203,1.203c0.235,0.234,0.615,0.234,0.85,0c0.234-0.235,0.234-0.615,0-0.85l-2.25-2.25C4.281,7.169,4.121,7.114,3.961,7.118
                            C3.802,7.114,3.642,7.169,3.52,7.291l-2.824,2.25c-0.234,0.235-0.234,0.615,0,0.85c0.235,0.234,0.615,0.234,0.85,0l1.957-1.559
                            C3.435,9.212,3.386,9.6,3.386,10c0,3.812,3.09,6.901,6.902,6.901c2.083,0,3.946-0.927,5.212-2.387l-0.898-0.719
                            C13.547,14.992,12.008,15.752,10.288,15.752z"></path>
                        </svg>
                        Get another
                    </a>
                </span>
            </form>
        </div>
    </div>
    {% if temporarily_disabled %}
        <div class="rounded-md bg-yellow-50 p-4 mt-4">
            <div class="flex">
                <div class="flex-shrink-0">
                    <svg class="h-5 w-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"/>
                    </svg>
                </div>
                <div class="ml-3">
                    <h3 class="text-sm leading-5 font-medium text-yellow-800 font-bold">
                        Temporarily disabled
                    </h3>
                    <div class="mt-2 text-sm leading-5 text-yellow-700">
                        <p>
                            This is temporarily disabled as we went public and these classifications directly impact on the results of our final model. There are currently no restrictions from whoever accesses this page, so classifications are disabled. <strong>Predictions are working normally as before</strong>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %}
