{% extends 'base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Classificar" style="width:200px; height:50px;" />
</form><form method="get">
    <input type="submit" value="Me da outra!" style="width:200px; height:50px;" />
</form>
<ul>
{{ not_classified }} questions still need to be classified<br/><br/>
{% for tag in tags %}
    <li>{{ tag.slug }} - {{ tag.question_count }}</li> 
{% endfor %}
</ul>
{% endblock content %}
