<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>olie</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="container">
            <header>
                <img src="{% static 'img/olie_logo.svg' %}" />
                <span>tooling</span>
            </header>
            <section class="navigation">
                <a href="{% url 'questions_classification' %}">Classification</a>
                <a href="{% url 'questions_prediction' %}">Prediction</a> 
                <a href="{% url 'questions_answer' %}">Answer creation</a>
                <a href="{% url 'questions_model' %}">LSTM Model Settings</a>
            </section>
            <div class="content">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>
