<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>olie</title>
    </head>
    <body>
        <a href="{% url 'questions_classification' %}">classification</a> |
        <a href="{% url 'questions_prediction' %}">prediction</a> | 
        <a href="{% url 'questions_answer' %}">answer creation</a> | 
        <a href="{% url 'questions_model' %}">lstm model settings</a>
        {% block content %}
        {% endblock content %}
    </body>
</html>
