{% extends 'base.html' %}

{% block content %}
    <section class="py-12 bg-gray-50 overflow-hidden md:py-20 lg:py-24 -m-4">
        <div class="relative max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8">
            <svg class="absolute top-full right-full transform translate-x-1/3 -translate-y-1/4 lg:translate-x-1/2 xl:-translate-y-1/2" width="404" height="404" fill="none" viewBox="0 0 404 404" role="img" aria-labelledby="svg-olie">
                <title id="svg-olie">Olie</title>
                <defs>
                <pattern id="ad119f34-7694-4c31-947f-5c9d249b21f3" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
                </defs>
                <rect width="404" height="404" fill="url(#ad119f34-7694-4c31-947f-5c9d249b21f3)" />
            </svg>

            <div class="relative">
                <blockquote class="mt-8">
                    <div class="max-w-3xl mx-auto text-center text-2xl leading-8 font-medium text-gray-900">
                        <p class="font-bold">
                        Oi! Essa é a plataforma de gerenciamento da inteligência Olie.
                        </p>
                        <p class="text-base leading-tight mt-2">
                        A partir dela, conseguimos <a href="{% url 'questions_classification' %}" class="text-indigo-700 hover:text-indigo-500">alimentar nossa base de dados</a>, <a href="{% url 'questions_model' %}" class="text-indigo-700 hover:text-indigo-500">re-treinar</a> e <a href="{% url 'questions_prediction' %}" class="text-indigo-700 hover:text-indigo-500">testar a precisão</a> de nosso modelo.
                        </p>
                        <p class="text-base leading-tight mt-2">
                        Para saber mais sobre o produto desenvolvido assista o vídeo abaixo!
                        </p>
                    </div>
                </blockquote>
            </div>
        </div>
        <div class="py-12 flex justify-center">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MSkqNVs_VjQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="z-50"></iframe>
        </div>
    </section>
{% endblock content %}
